/* Font-family Montserrat*/

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Font-family Orbitron*/

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Typography. Desktop */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.h2__semibold {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}

.h2__bold {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.h4__semibold {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.h4__bold {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

/* Buttons */

.text-btn-large__semibold {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.text-btn-small__medium {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.text-btn-small__semibold {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

/* Tabs */

.text-tabs-large__semibold {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.text-tabs-large__bold {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* Paragraph */

.p-orbitron-large {
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.p-super-large__semibold {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.p-large__medium {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.p-large__semibold {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.p-medium__regular {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.p-medium__regular {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.p-medium__semibold {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.p-small__regular {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
}